:root {
  min-height: 100%;
  line-height: 1.5;
  font-family: League Spartan, sans-serif;
  background-color: hsl(180, 52%, 96%);
}

* {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: inherit;
  border-style: solid;
  font-weight: inherit;
  box-sizing: border-box;
  border-color: transparent;
}

img,
svg {
  height: auto;
  display: block;
  max-width: 100%;
  vertical-align: middle;
}

header {
  background-color: hsl(180, 29%, 50%);
  height: 128px;
}

#listings {
  gap: 32px;
  display: flex;
  margin: 24px 0;
  list-style: none;
  flex-flow: column nowrap;
}

#listings > li {
  display: contents;
}

#listings > li > div {
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 32px;
}

#listings > li > div img + div,
.top-div-tags {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.top-div-tags {
  gap: 0.625em;
}

.top-div-tags span {
  padding: 6px 8px 2px;
  border-radius: 999px;
  color: #fff;
  line-height: 1;
  font-weight: 500;
}

.isNew {
  background-color: hsl(180, 29%, 50%);
}

.isFeatured {
  background-color: #000c;
}

#listings > li > div img + div + h3 + div {
  display: flex;
  align-items: center;
}

#listings > li > div img + div + h3 + div span {
  line-height: 1;
}

#listings > li > div img + div + h3 + div span:not(:first-child)::before {
  content: "\2022";
  display: inline-block;
  width: 1em;
  aspect-ratio: 1 / 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#listings > li > div hr {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: hsl(180, 29%, 50%);
  margin: 1em 0;
}

.bottom-div-tags-layer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.625em;
}

.bottom-div-tags-layer span {
  flex-shrink: 0;
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 52%, 96%);
  border-radius: 4px;
  line-height: 1;
  padding: 8px 10px 4px;
}
